.hide {
    display: none;
}

.form-container {
    padding: 20px;
}

.header-wrapper {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.header-text {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	background: linear-gradient(45deg, #6feeff, #0065bb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header-count {
	height: 30px;
	width: 30px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50px;
	background: linear-gradient(272deg, #839a9e, #0065bb);
}

.input-container {
    display: grid;
    gap: 20px;
}

input.input-field {
    border: 1px solid #191d20c3;
    border-radius: 35px;
    height: 40px;
    width: 100%;
    text-align: center;
}

.next-btn-wrapper {
	margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
}

.next-btn {
    color: #65A0DC;
    background-color: #1B1F23;
    border: 2px solid #65A0DC;
    border-radius: 35px;
    padding: 10px 20px;
    width: 100%;
}

.next-btn:hover {
	background: linear-gradient(272deg, #839a9e, #0065bb);
	color: #fff;
	border: 2px solid #fff;
}

.error {
	box-shadow: none !important;
	border: 2px solid rgb(230, 54, 54) !important;
}

.error:focus {
	box-shadow: none !important;
	outline: none !important;
}